
[user]
	name = Ricwolf19
	email = rhtc19@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	algorithm = histogram
[push]
	default = simple
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = true
