
[user]
	name = Ricardo Tapia
	email = 108904323+Ricwolf19@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	algorithm = histogram
[push]
	default = simple
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = true
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
